*, *::after, *::before {
    box-sizing: border-box;
}

* {
    font-family: 'Roboto', sans-serif;
}

div {
    text-align: justify;
    text-justify: inter-word;
}






/* pop_up DISPLAY */

body > button {
    display: none;
}


.pop_up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 1000px;
    max-width: 80%;
    max-height: 60%;
    transition: 200ms ease-in-out;
    overflow: scroll;
}

.pop_up.active {
    transform: translate(-50%, -50%) scale(1);
}






/* POP UP DESIGN */

form {
    padding: 20px 100px 50px;
}

#title {
    padding: 20px;
    text-align: center;
}

.custom-switch-green:checked {
    background-color: green;
    box-shadow: none; /* Remove the box shadow */
    outline: none;
    border: none;
}

.custom-switch-green {
    box-shadow: none;
    outline: none;
    border: none;
}

.description {
    font-size: 13px;
}

#preferences {
    padding-top: 50px;
    display: none;
    width: 100%;
}

.toggles {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toggles > div {
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(243, 243, 243);
    border-radius: 6px;
}

.toggles > div > :first-child {
    height: 50px;
    display: flex;
    gap: 30px;
    padding-left: 50px;
}

.toggles div > div > label {
    padding: 13px 0;
    font-size: 16px;
}

.toggles div > div > input {
    margin-top: 20px;
    transform: scale(2);
}

.toggles > div > div:first-child > div {
    font-size: 14px;
    margin-right: 0px;
    padding-top: 15px;
    padding-right: 40px;
    margin-left: auto;
}

.toggles > div > div:first-child > div:hover {
    text-decoration: underline;
    cursor: pointer;
}

#toggles-dropdown1,
#toggles-dropdown2,
#toggles-dropdown3,
#toggles-dropdown4,
#toggles-dropdown5 {
    display: none;
    padding-left: 75px;
    padding-bottom: 20px;
    padding-right: 75px;
    font-size: 12px;
}

#toggles-dropdown1 > div,
#toggles-dropdown2 > div,
#toggles-dropdown3 > div,
#toggles-dropdown4 > div,
#toggles-dropdown5 > div {
    border: 1px solid rgb(215, 215, 215);
    border-radius: 6px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
}

#toggles-dropdown1 > div > div:first-child,
#toggles-dropdown1 > div > div:nth-child(2),
#toggles-dropdown2 > div > div:first-child,
#toggles-dropdown2 > div > div:nth-child(2),
#toggles-dropdown3 > div > div:first-child,
#toggles-dropdown3 > div > div:nth-child(2),
#toggles-dropdown4 > div > div:first-child,
#toggles-dropdown4 > div > div:nth-child(2),
#toggles-dropdown5 > div > div:first-child,
#toggles-dropdown5 > div > div:nth-child(2) {
    padding: 7px;
    padding-left: 25px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
}

#toggles-dropdown1 > div > div > i,
#toggles-dropdown2 > div > div > i,
#toggles-dropdown3 > div > div > i,
#toggles-dropdown4 > div > div > i,
#toggles-dropdown5 > div > div > i {
    padding-top: 5px;
    font-size: 15px;
}

.cookie > div{
    border: 1px solid rgb(205, 205, 205);
    border-radius: 6px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(220, 220, 220);
}

.cookie-info {
    display: none;
}

.cookie-info.show {
    display: block;
}

.exp-type {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    padding-left: 25px;
    padding-right: 30px;
}


.toggle-header {
    cursor: pointer;
}

.toggle-header i {
    transition: transform 0.3s ease;
}

.toggle-header.open i {
    transform: rotate(180deg);
}
  
  

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.buttons {
    display: flex;
    padding: 50px 0px 20px;
    justify-content: center;
    gap: 15px;
}

.buttons button {
    font-size: 15px;
}

.details {
    text-align: center;
    font-size: 12px;
}

.details:hover {
    text-decoration: underline;
    cursor: pointer;
}

.details a {
    color: black;
}

.policy {
    font-size: 13px;
    padding-top: 35px;
}





/********************************************************/
/*              @MEDIA QUERIES     PHONE                */
/********************************************************/

@media only screen and (max-width: 640px) {

    .pop_up {
        left: 50%;
        max-width: 85%;
        position: fixed;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        border: 1px solid black;
        border-radius: 10px;
        z-index: 10;
        background-color: white;
        max-height: 90%;
        transition: 200ms ease-in-out;
        overflow: scroll;
    }

    form {
        padding: 10px 25px 20px;
    }

    #title {
        font-size: 18px;
    }

    .description {
        font-size: 10px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        padding: 40px 0px 20px;
        justify-content: center;
        gap: 10px;
    }

    .buttons button {
        font-size: 12px;
        border-radius: 30px;
    }

    .toggles > div {
        border: 1px solid rgb(230, 230, 230);
        background-color: rgb(243, 243, 243);
        border-radius: 6px;
    }
    
    .toggles > div > :first-child {
        height: 40px;
        display: flex;
        gap: 20px;
        padding-left: 30px;
    }
    
    .toggles div > div > label {
        padding: 11px 0;
        font-size: 12px;
    }
    
    .toggles div > div > input {
        margin-top: 15px;
        transform: scale(2);
    }
    
    .toggles > div > div:first-child > div {
        font-size: 10px;
        padding-top: 12px;
        padding-right: 30px;
    }
    
    #toggles-dropdown1,
    #toggles-dropdown2,
    #toggles-dropdown3,
    #toggles-dropdown4,
    #toggles-dropdown5 {
        display: none;
        padding-left: 0px;
        padding-bottom: 20px;
        padding-right: 30px;
        font-size: 8px;
    }
    
    #toggles-dropdown1 > div > div:first-child,
    #toggles-dropdown1 > div > div:nth-child(2),
    #toggles-dropdown2 > div > div:first-child,
    #toggles-dropdown2 > div > div:nth-child(2),
    #toggles-dropdown3 > div > div:first-child,
    #toggles-dropdown3 > div > div:nth-child(2),
    #toggles-dropdown4 > div > div:first-child,
    #toggles-dropdown4 > div > div:nth-child(2),
    #toggles-dropdown5 > div > div:first-child,
    #toggles-dropdown5 > div > div:nth-child(2) {
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        justify-content: space-between;
    }
    
    #toggles-dropdown1 > div > div > i,
    #toggles-dropdown2 > div > div > i,
    #toggles-dropdown3 > div > div > i,
    #toggles-dropdown4 > div > div > i,
    #toggles-dropdown5 > div > div > i {
        padding-top: 4px;
        font-size: 10px;
    }

    hr {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .cookie > div{
        border: 1px solid rgb(205, 205, 205);
        border-radius: 6px;
        margin: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: rgb(220, 220, 220);
    }

    .details {
        font-size: 10px;
    }

    .policy {
        font-size: 10px;
        padding-top: 25px;
    }

}








/********************************************************/
/*              @MEDIA QUERIES           TABLET         */
/********************************************************/

@media only screen and (max-width: 1007px) and (min-width: 641px){

    form {
        padding: 20px 50px 50px;
    }
    
    #title {
        font-size: 30px;
    }

    .description {
        font-size: 11px;
    }

    .buttons {
        display: flex;
        padding: 50px 0px 20px;
        justify-content: center;
        gap: 15px;
    }
    
    .buttons button {
        font-size: 15px;
    }
    
    .toggles > div > :first-child {
        height: 50px;
        display: flex;
        gap: 30px;
        padding-left: 40px;
    }
    
    .toggles div > div > label {
        padding: 13px 0;
        font-size: 15px;
    }
    
    .toggles div > div > input {
        margin-top: 20px;
        transform: scale(2);
    }
    
    .toggles > div > div:first-child > div {
        font-size: 14px;
        margin-right: 0px;
        padding-top: 15px;
        padding-right: 40px;
        margin-left: auto;
    }
    
    #toggles-dropdown1,
    #toggles-dropdown2,
    #toggles-dropdown3,
    #toggles-dropdown4,
    #toggles-dropdown5 {
        display: none;
        padding-left: 0px;
        padding-bottom: 20px;
        padding-right: 30px;
        font-size: 12px;
    }
    
    #toggles-dropdown1 > div > div:first-child,
    #toggles-dropdown1 > div > div:nth-child(2),
    #toggles-dropdown2 > div > div:first-child,
    #toggles-dropdown2 > div > div:nth-child(2),
    #toggles-dropdown3 > div > div:first-child,
    #toggles-dropdown3 > div > div:nth-child(2),
    #toggles-dropdown4 > div > div:first-child,
    #toggles-dropdown4 > div > div:nth-child(2),
    #toggles-dropdown5 > div > div:first-child,
    #toggles-dropdown5 > div > div:nth-child(2) {
        padding: 8px;
        padding-left: 25px;
        padding-right: 30px;
        display: flex;
        justify-content: space-between;
    }
    
    #toggles-dropdown1 > div > div > i,
    #toggles-dropdown2 > div > div > i,
    #toggles-dropdown3 > div > div > i,
    #toggles-dropdown4 > div > div > i,
    #toggles-dropdown5 > div > div > i {
        padding-top: 5px;
        font-size: 15px;
    }

    hr {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .cookie > div{
        border: 1px solid rgb(205, 205, 205);
        border-radius: 6px;
        margin: 15px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        background-color: rgb(220, 220, 220);
    }

    .details {
        font-size: 10px;
    }

    .policy {
        font-size: 11px;
    }
}
